name: Build and Publish Terraform Provider

on:
  workflow_dispatch:
    inputs:
      version:
        type: string
        description: Release version (v0.0.0)
        required: true
  workflow_call:
    inputs:
      version:
        type: string
        description: Release version (v0.0.0)
        required: true

permissions: {}

env:
  GO_VERSION: "1.24"
  GOPRIVATE: github.com/pexip
  PROVIDER_NAME: "pexip"

jobs:
  build:
    name: Build Assets
    permissions:
      contents: read

    strategy:
      matrix:
        goos: [linux, darwin, windows]
        goarch: [amd64, arm64]
        exclude:
          - goarch: arm64
            goos: windows

    uses: ./.github/workflows/reusable_build.yml
    with:
      version: ${{ inputs.version }}
      goos: ${{ matrix.goos }}
      goarch: ${{ matrix.goarch }}

  upload:
    name: Upload Assets
    runs-on: ubuntu-latest
    needs: build
    permissions:
      contents: write
    steps:
      - name: Set environment variables
        run: |
          VERSION="${{ inputs.version }}"
          VERSION_NO_V="${VERSION#v}"
          echo "MANIFEST=terraform-provider-${{ env.PROVIDER_NAME }}_${VERSION_NO_V}_manifest.json" >> $GITHUB_ENV
          echo "SHA256SUMS=terraform-provider-${{ env.PROVIDER_NAME }}_${VERSION_NO_V}_SHA256SUMS" >> $GITHUB_ENV

      - name: Checkout
        uses: actions/checkout@v5

      - name: Download build artifacts
        uses: actions/download-artifact@v6
        with:
          path: build_artifacts

      - name: Flatten artifacts into ./dist
        shell: bash
        run: |
          mkdir -p dist
          for d in build_artifacts/*; do
            mv "$d"/*.zip dist/
          done
          ls -laR dist/

      - name: Generate manifest JSON
        shell: bash
        run: |
          make manifest VERSION=${{ inputs.version }} PROVIDER_NAME=${{ env.PROVIDER_NAME }}

      - name: Upload MANIFEST artifact
        uses: actions/upload-artifact@v5
        with:
          name: ${{ env.MANIFEST }}
          path: "dist/${{ env.MANIFEST }}"
          retention-days: 7

      - name: Generate SHA256 checksum
        shell: bash
        run: |
          cd dist
          [ -f "${{ env.MANIFEST }}" ] || { echo "Missing manifest: ${{ env.MANIFEST }}"; exit 1; }
          shasum -a 256 *.zip "${{ env.MANIFEST }}" > ${{ env.SHA256SUMS }}

      - name: Import GPG key
        shell: bash
        run: |
          echo "${{ secrets.GPG_PRIVATE_KEY }}" | gpg --batch --import
          echo "${{ secrets.GPG_PASSPHRASE }}" > passphrase.txt

      - name: Sign checksum file
        shell: bash
        run: |
          cd dist
          gpg --batch --yes --pinentry-mode loopback --passphrase-file ../passphrase.txt \
            --detach-sign --output ${{ env.SHA256SUMS }}.sig \
            ${{ env.SHA256SUMS }}

      - name: Upload SHA256SUMS artifact
        uses: actions/upload-artifact@v5
        with:
          name: ${{ env.SHA256SUMS }}
          path: "dist/${{ env.SHA256SUMS }}"
          retention-days: 7

      - name: Upload assets to release
        uses: softprops/action-gh-release@5be0e66d93ac7ed76da52eca8bb058f665c3a5fe #v2.4.2
        with:
          tag_name: ${{ inputs.version }}
          files: |
            dist/*.zip
            dist/${{ env.SHA256SUMS }}
            dist/${{ env.SHA256SUMS }}.sig
            dist/${{ env.MANIFEST }}
          token: ${{ secrets.GITHUB_TOKEN }}