name: Install Terraform Provider

on:
  workflow_call:

permissions: {}

jobs:
  install:
    name: Install Terraform Provider
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Download provider
        uses: actions/download-artifact@v6
        with:
          path: downloads

      - name: Flatten artifacts into ./unpack
        shell: bash
        run: |
          mkdir -p unpack
          ls -laR downloads/
          for d in downloads/*; do
            unzip "$d"/*.zip unpack/
          done
          ls -laR unpack/
