name: Install Terraform Provider

on:
  workflow_call:

permissions: {}

jobs:
  install:
    name: Install Terraform Provider
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Download provider
        uses: actions/download-artifact@v6
        with:
          path: downloads

      - name: List downloaded files
        run: ls -laR downloads

      - name: Install provider binary into ~/.terraform.d/plugins
        shell: bash
        run: |
          mkdir -p ~/.terraform.d/plugins/pexip.com/pexip/pexip/0.0.1/linux_amd64
          for f in downloads/*/*.zip; do
            echo "Extracting $f to ~/.terraform.d/plugins/pexip.com/pexip/pexip/0.0.1/linux_amd64"
            unzip "$f" -d ~/.terraform.d/plugins/pexip.com/pexip/pexip/0.0.1/linux_amd64
          done
          ls -laR ~/.terraform.d/plugins
