name: Install Terraform Provider

on:
  workflow_call:

permissions: {}

jobs:
  install:
    name: Install Terraform Provider
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Download provider
        uses: actions/download-artifact@v6
        with:
          path: downloads

      - name: Flatten artifacts into ./unpack
        shell: bash
        run: |
          mkdir -p unpack
          for d in downloads/terraform-provider-*.zip; do
            echo "Extracting $d to unpack/"
            unzip "$d" unpack/
          done
          ls -laR unpack/
