name: Install Terraform Provider

on:
  workflow_call:

permissions: {}

jobs:
  install:
    name: Install Terraform Provider
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Download provider
        uses: actions/download-artifact@v6
        with:
          path: downloads

      - name: List downloaded files
        shell: bash
        run: ls -laR downloads

      - name: Install provider binary into ~/.terraform.d/plugins
        shell: bash
        run: |
          mkdir -p ~/.terraform.d/plugins/terraform-provider-pexip
          for f in downloads/terraform-provider-*.zip; do
            echo "Extracting $f to ~/.terraform.d/plugins/terraform-provider-pexip"
            unzip "$f" -d ~/.terraform.d/plugins/terraform-provider-pexip
          done

      - name: List installed providers
        shell: bash
        run: ls -laR ~/.terraform.d/plugins
